<!DOCTYPE html>
<html>

    <head>
        <title>Ragnarok</title>
    </head>

    <body>
        <h1>Ragnarok says... hello world!</h1>

        {% if categories %}
            <h2>Available categories</h2>
            <ul>
                {% for category in categories %}
                <!--<li>{{ category.name }}</li>-->
                <li><a href="/ragnarok/category/{{ category.url }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}


        {% if pages %}
            <h3>Top 5 pages: </h3>
            {% for page in pages %}
                <li>{{page.title}}</li>
            {% endfor %}
        {% else %}
            <strong>There are no pages found...</strong>
        {% endif %}

        <br/><br/>

        <a href="/ragnarok/add_category/">Add a new Category</a><br/>
        <a href="/ragnarok/register/">Register here</a>

        <a href="/ragnarok/about/">About</a><br />

    </body>

</html>